<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login/Registartion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'login_registration/css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'login_registration/js/main.js' %} "></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>Registration</h3>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <form action="/register/" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-3 col-form-label">First Name:</label>
                        <div class="col-sm-9">
                            <input name="first_name" type="text" class="form-control" id="first_name" placeholder="">
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'first_name error' %} <p class="error">{{ message }}</p> {% endif %}
                            {% endfor %} {% endif %}
                        </div>
                        <label for="last_name" class="col-sm-3 col-form-label">Last Name:</label>
                        <div class="col-sm-9">
                            <input name="last_name" type="text" class="form-control" id="last_name" placeholder="">
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'last_name error' %} <p class="error">{{ message }}</p> {% endif %}
                            {% endfor %} {% endif %}
                        </div>
                        <label for="email" class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-9">
                            <input name="email" type="text" class="form-control" id="email" placeholder="">
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'email error' %} <p class="error">{{ message }}</p> {% endif %}
                            {% endfor %} {% endif %}                            
                        </div>
                        <label for="password" class="col-sm-3 col-form-label">Password:</label>
                        <div class="col-sm-9">
                            <input name="password" type="password" class="form-control" id="password" placeholder="">
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'password error' %} <p class="error">{{ message }}</p> {% endif %}
                            {% endfor %} {% endif %}
                        </div>
                        <label for="confirm_pw" class="col-sm-3 col-form-label">Confirm pw:</label>
                        <div class="col-sm-9">
                            <input name="confirm_pw" type="password" class="form-control" id="confirm_pw" placeholder="">
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'confirm_pw error' %} <p class="error">{{ message }}</p> {% endif %}
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Register</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>Login</h3>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <form action="/login/" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-9">
                            <input name="login_email" type="email" class="form-control" id="email" placeholder="">
                        </div>
                        <label for="password" class="col-sm-3 col-form-label">Password:</label>
                        <div class="col-sm-9">
                            <input name="login_password" type="password" class="form-control" id="password" placeholder="">
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'login error' %} <p class="error">{{ message }}</p> {% endif %}
                            {% endfor %} {% endif %}                            
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Login</button>
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>