<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ninja Gold Django</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'game/css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'game/js/main.js' %} "></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Ninja Gold</h1>
        <div class="row">
            <h3>Your Gold: {{ request.session.gold }} </h3>
        </div>
        <div class="places row">
            <div class="justify-content-center col-md-3">
                <form action="/process_gold/" method="POST">
                    {% csrf_token %}
                    <h4>Farm</h4>
                    {% load static %}
                    <img src="{% static 'game/img/gold.gif' %} " class="img-fluid" alt="gold">
                    <p>(earns 10-20 gold)</p>
                    <input name="farm" type="hidden" value="10">
                    <button type="submit" class="btn btn-primary">Find Gold!</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/process_gold/" method="POST">
                    {% csrf_token %}
                    <h4>Cave</h4>
                    {% load static %}
                    <img src="{% static 'game/img/gold.gif' %} " class="img-fluid" alt="gold">
                    <p>(earns 5-10 gold)</p>
                    <input name="cave" type="hidden" value="10">
                    <button type="submit" class="btn btn-primary" >Find Gold!</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/process_gold/" method="POST">
                    {% csrf_token %}
                    <h4>House</h4>
                    {% load static %}
                    <img src="{% static 'game/img/gold.gif' %} " class="img-fluid" alt="gold">
                    <p>(earns 2-5 gold)</p>
                    <input name="house" type="hidden" value="10">
                    <button type="submit" class="btn btn-primary" >Find Gold!</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/process_gold/" method="POST">
                    {% csrf_token %}
                    <h4>Casino</h4>
                    {% load static %}
                    <img src="{% static 'game/img/gold.gif' %} " class="img-fluid" alt="gold">
                    <p>(earns/takes 0-50 gold)</p>
                    <input name="casino" type="hidden" value="10">
                    <button type="submit" class="btn btn-primary" >Find Gold!</button>
                </form>
            </div>
        </div>
        <div class="activities row">
            <p>Activities</p>
            <div id="activities" class="overflow col-md-12">
                {% for i in request.session.activities %}
                    {{ i|safe }}
                {% endfor % %}
            </div>
        </div>
    </div>
</body>
</html>