<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'surveys/css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'surveys/js/main.js' %} "></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Dojo Survey</h1>
        <form action="/submit" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                    <select name="location" class="form-control form-control-md">
                        <option>Dallas</option>
                        <option>China</option>
                        <option>Mexico</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="language" class="col-sm-2 col-form-label">Favorite Language</label>
                <div class="col-sm-10">
                    <select name="language" class="form-control form-control-md">
                        <option>English</option>
                        <option>Spanish</option>
                        <option>French</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="comments">Example textarea</label>
                <textarea name="comments" class="form-control" id="comments" rows="3"></textarea>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>