*{
    margin: 0px;
    padding: 0pz;
}
label{
    text-align: right;
}
.error{
    font-size: 10px;
    color: red;
}
ul ul{
    margin-left: 25px;
    font-size: 14px;
}
ul{
    font-size: 18px;
    /* margin-top: 25px; */
}
ul li{
    margin-top: 10px;
}
.reviewslist{
    height: 400px;
    border: 2px solid black;
}
.reviewslist a{
    font-size: 18px;
}
a{
    text-decoration: underline
}
.top-row{
    margin-bottom: 50px;
}
.labels{
    font-weight: bold;
}
h4{
    margin-bottom: 30px;
}
.book-reviews{
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
}
.all_reviews{
    display: block;
}